.bundle/
log/*.log
pkg/
spec/examples.txt
spec/dummy/log
spec/dummy/config/deprecations.ignore
spec/dummy/db/*.sqlite
spec/dummy/db/*.sqlite-shm
spec/dummy/db/*.sqlite-wal
spec/dummy/tmp
doc/
.yardoc/
